fastapi[all]
uvicorn
python-dotenv
pydantic
pika
pydantic-settings
requests
torch
sentence-transformers
prettytable
pymilvus
openai
transformers
accelerate
python-multipart
logging-config
numpy
tenacity
ftfy