crawlee[playwright]
apify-fingerprint-datapoints
playwright
pydantic
pydantic-settings
redis
psutil
beautifulsoup4
lxml
python-dotenv
fastapi
uvicorn[standard]
httpx
aiofiles
camoufox[geoip]
typing-extensions