pika
aio_pika
asyncio
beautifulsoup4
bs4
markdownify
html5lib
accelerate
gradio==5.23.2
pdf2image
PyMuPDF
python-dotenv
Pillow 
python-docx 
openpyxl 
python-pptx 
mammoth 
odfpy 
grpcio
grpcio-tools
protobuf
googleapis-common-protos