pika
python-dotenv
beautifulsoup4
bs4
trafilatura[all]
markdownify
langdetect
sentence_splitter
python-multipart
html5lib
lxml
lxml_html_clean
pydantic
aio-pika
psutil
prometheus-client
waitress
boilerpy3
jpype1
redis
tldextract
pymilvus