fastapi
uvicorn[standard]
pydantic
html5lib
lxml
lxml_html_clean
beautifulsoup4
trafilatura[all]
markdownify
langdetect
sentence_splitter
python-multipart
bs4

# Tier 1
readability-lxml
justext
goose3[all]

# Tier 3
newspaper4k
news-please
boilerpipe3
extractnet