grpcio
grpcio-tools
protobuf
asyncio
uvloop
python-dotenv
# Dépendances pour le client Triton et la tokenization
tritonclient[all]
sentence-transformers
sentencepiece
numpy
langchain-text-splitters
transformers<=5.0.0
prometheus-client
waitress